body {
	background-color: #1e3932;
	color: white;
	display: flex;
	justify-content: center;
	/* 수평 가운데 정렬 */
	align-items: center;
	flex-direction: column;
	/* 세로로 나란히 정렬되도록 설정 */
	font-family: 'IBM Plex Sans KR', sans-serif;
}

#logo {
	margin-top: 190px;
	width: 100px;
}

#frmUpload {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#output {
	display: block;
	white-space: pre-wrap;
}

/*업로드 버튼*/
.common-button {
	margin: 5px;
	background-color: transparent;
	/* 배경색 설정 */
	color: white;
	/* 텍스트 색상 설정 */
	font-weight: bold;
	border: 2px solid white;
	/* 테두리 제거 */
	padding: 10px 10px;
	/* 내부 여백 설정 */
	border-radius: 5px;
	/* 모서리 둥글게 설정 */
	cursor: pointer;
	/* 포인터로 변경하여 클릭 가능한 모양으로 변경 */
	width: 100px;
	/* 원하는 너비로 설정 */
	height: 40px;
	/* 원하는 높이로 설정 */
}

hr {
	width: 60%;
	height: 2px;
	border: 0;
	background-color: white;
	margin: 40px 0;
}

#file {
	/* 여기에 사용자 지정 스타일을 추가하세요 */
	padding: 0px;
	/* 내부 여백을 조절합니다. */
	background-color: #362415;
	/* 배경색을 변경합니다. */
	color: #fff;
	/* 텍스트 색상을 변경합니다. */
	border: none;
	/* 테두리를 없앱니다. */
	border-radius: 5px;
	/* 모서리를 둥글게 만듭니다. */
	cursor: pointer;
	/* 마우스 커서를 포인터로 변경합니다. */
	align-items: center;
	margin:20px 0;
}

/*미리보기*/
#image_container {
	margin-top: 20px;
  max-width: 1210px;
  display: flex;
  flex-wrap: wrap; /* 자식 요소들을 여러 줄로 나누기 */
}


#image_container div {
  width: 300px;
  height: 300px;
  overflow: hidden; /* 넘치는 이미지 숨김 */
  background-color: #00704A;
  border: solid white 1px;
}

#image_container img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* 이미지 비율 유지하며 잘라내기 */
}

.noneImg {
    width: 300px;
    height: 300px;
    display: inline-block;
}

.fileNameText {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

}

.previewContainer {
  position: relative;
  width: 300px;
  height: 300px;
  overflow: hidden;
}

.previewContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.previewContainer .fileNameText {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/*다운로드*/
#downloadList{
	margin: 20px 0;
  	display: flex;
	justify-content: center;
	align-items: center;
	width: 1020px;
}

#ulDownload{
  list-style: none;
  padding: 0;
  margin: 0;
}

#ulDownload li {
    display: inline-block; /* 인라인 블록 요소로 설정하여 가로 정렬 */
    margin: 5px;
    background-color: transparent;
    color: white;
    font-weight: bold;
    border: 2px solid white;
    padding: 10px 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 100px;
    height: 40px;
    text-align: center; /* 텍스트 가운데 정렬 */
    line-height: 40px; /* 높이와 동일하 */
    font-size: 13px;
    padding: 0; /* padding 제거 */
}

